<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd
		">

    <context:annotation-config/>
    <task:annotation-driven/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- inject @Value -->
    <context:property-placeholder file-encoding="UTF-8"
                                  location="classpath:conf/config.properties,
                                            classpath:conf/jdbc.properties,
                                            classpath:conf/redis.properties,
                                            classpath:conf/rest.properties,
                                            classpath:conf/version.properties"/>


    <!-- persistence -->
    <import resource="classpath:conf/spring-persistence.xml"/>

    <!-- redis -->
    <bean class="person.louchen.restj.config.RedisAppConfig"/>

    <!-- service -->
    <import resource="classpath:conf/spring-service.xml"/>


</beans>